.jumbotron {
    height: 100px;

}

body {
    background-color: blueviolet;
}
.title {
    text-align: center;
}

.forecast {
    display: inline-block;
   
   
}

.container {
    margin: 0 10px;

}
 #currentWeather {
     box-sizing: content-box;
   

 }

 #currentWeather p {
     display: inline-block;
 }

