.jumbotron {
    height: 100px;

}

body {
    background-color: blueviolet;
}
.title {
    text-align: center;
}

.weatherContainer{

}

.temp {

}

.card {
    
}

.forecastIcon {

}

.forecastp {}

.forecast {
    display: inline-block;
}